<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .invoice-box {
                max-width: 1140px;
                font-size: 9px;
                line-height: 18px;
                font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                color: #000;
                position: relative;
                min-height: 100%;
                padding : 25px
            }
            .logo-box{
                margin-bottom : 135px
            }

            .heading{
                text-align:center;
                color : #000;
                font-size : 10px;
            }

            .date{
                font-size: 12px;
                color : #000;
                font-weight : 600;
            }

            .box-headings{
                width : 50%;
                padding-left : 25px;
                font-size : 12px;
                color : #000;
            }

            .box{
                width : 50%;
                
                color : #000;
                padding-top : 25px; 
                padding-bottom : 30px;
            }
            
            .box1{
                border : 1px solid #000;
            }

            .box2{
                border-top : 1px solid #000;
                border-right : 1px solid #000;
                border-bottom : 1px solid #000;
                padding-left : 10px;
            }

            .details-box{
                border : 2px solid #000;
                display : flex;
                flex-direction: column;
                gap : 10px;
                padding : 10px;
                margin-bottom : 15px;
            }

            .row{
                display : flex;
                flex-direction : row;
            }
    </style>
</head>
<body>
    <div class="invoice-box">
        <div class="logo-box">
            <img src="https://tcsexpress.co.uk/wp-content/uploads/2022/04/TCS_Pakistan_logo.png" style="width: 100%; max-width: 170px" />
        </div>

        <div class="heading">
            <h1>PROFORMA INVOICE</h1>
        </div>
        <div>
            <p class="date">Date : {{date}}</p>
            <br>
        </div>

        <div class="row">
            <div class="box-headings">SHIPPER INFORMATION</div>
            <div class="box-headings">CONSIGNEE INFORMATION</div>
        </div>

        <div class="row" style="margin-bottom : 20px">
            <div class="box box1">
                <div class="row">
                    <div style="width:21%; font-weight : 600; font-size : 10px"></div>
                    <div style="padding-left : 5px;">
                        <div style="font-size : 14px;font-weight : 600;">
                            {{from}}<br><br>

                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div style="width:30%; font-weight : 600; font-size : 10px">Address : </div>
                    <div style="padding-left : 5px;">
                        
                        <div style="font-size : 14px;">
                            {{fromAddress}}<br><br>

                        </div>

                        <div style="font-size : 10px; font-weight : 600">
                            {{fromPostCode}}<br><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box2">
                <div>
                    <div class="row">
                        <div style="width:20%; font-weight : 600; font-size : 10px"></div>
                        <div style="font-size : 13px; font-weight : 600; padding-left : 5px;">
                                {{consignee}}<br>
                        </div>

                    </div>
                    <div class="row">
                        <div style="width:20%; font-weight : 600; font-size : 10px">Address : </div>
                        <div style="padding-left : 5px;">
                            
                            <div style="font-size : 11px; font-weight : 600">
                                {{toAddress}}<br><br>
                            </div>
                            <div style="font-size : 11px; font-weight : 600">{{toCountry}}</div>

                            <div style="font-size : 10px; font-weight : 600">
                                {{toPostCode}}<br><br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div style="width:20%; font-weight : 600; font-size : 10px">Contact : </div>
                    <div style="font-size : 11px; font-weight : 600; padding-left : 5px;">
                            {{toContact}}
                        </div>
                </div>

                <div class="row">
                    <div style="width:20%; font-weight : 600; font-size : 10px">Telephone : </div>
                    <div style="font-size : 11px; font-weight : 600; padding-left : 5px;">
                            {{consigneePhone}}
                        </div>
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="box-headings">CONSIGNMENT DETAILS</div>
        </div>

        <div class="row" style="color : #000;">
            <div style="width : 40%">
                Agents Waybill Number :
            </div>

            <div style="width : 25%">
                Waybill number : <span style="font-weight : 600">{{airwayBill}}</span>
            </div>

            <div style="width : 20%">
                Pieces :     <span style="font-weight : 600">   {{peices}}</span>
            </div>
            <div style="width : 15%">
                Weight :    <span style="font-weight : 600">    {{weight}} Kgs</span>
            </div>
        </div>

        <div class="details-box">
            <div class="row">
                <div style="width : 15%; text-align : right; font-size : 11px; font-weight : 600">
                    HS Code : 
                </div>
                <div style="padding-left : 30px; font-size : 11px">
                    {{hsCode}}
                </div>
            </div>

            <div class="row">
                <div style="width : 15%; text-align : right; font-size : 9px; font-weight : 600">
                    Description of goods :
                </div>
                <div style="padding-left : 30px; font-size : 11px; font-weight : 600">
                    {{description}}
                </div>
            </div>

            <div class="row">
                <div style="width : 15%; text-align : right; font-size : 9px; font-weight : 600">
                    Value For Customs :
                </div>
                <div style="padding-left : 30px; font-size : 11px; font-weight : 600">
                    $ {{value}}
                </div>
            </div>

            <div class="row">
                <div style="width : 15%; text-align : right; font-size : 9px; font-weight : 600">
                    Resons For Export :
                </div>
                <div style="padding-left : 30px; font-size : 11px; font-weight : 600">
                   
                </div>
            </div>

            <div class="row">
                <div style="width : 15%; text-align : right; font-size : 9px; font-weight : 600">
                    Sender Vat no.:
                </div>
                <div style="padding-left : 30px; font-size : 11px; font-weight : 600">
                   
                </div>
            </div>

            <div class="row">
                <div style="width : 15%; text-align : right; font-size : 9px; font-weight : 600">
                
                </div>
                <div style="padding-left : 30px; font-size : 11px; font-weight : 600">
                   Terms of Delivery - {{termsOfDelivery}}
                </div>
            </div>

        </div>


        <div style="font-size : 14px; text-align : right; margin-bottom : 15px;">
            <div>
                Shipped Via :   <span style="font-weight : 600">TCS World Wide Express</span><br>
                Places Of Issue : <span style="font-weight : 600">UK</span>

            </div>
        </div>

        <div style="font-size : 14px; margin-bottom : 15px; padding-left : 10px">
            Signature : ___________________________________
        </div>

        <div class="row" style="font-size : 14px; margin-bottom : 15px; padding-left : 10px; justify-content : space-between">
           <div> Print Name : ___________________________________</div>
           <div>Date: {{date}}</div>
        </div>

    </div>
</body>
</html>